.env*
.git/
.git*
.yarn-integrity
app/assets/builds/*
!app/assets/builds/.keep
bin/release/
config/master.key
docker/
compose.*
log/*
!log/.keep
node_modules/
public/assets/
storage/*
!storage/.keep
tmp/*
!tmp/pids/.keep
!tmp/sockets/.keep
yarn-error.log
yarn-debug.log*
